p.information-text {
  font-size: 15px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  margin: auto;
  text-align: center;
  margin: 0 10%;
}

.bold {
  font-weight: bold;
}

.hero-image {
  /* width: 50%; */
  height: 42vh;
  object-fit: cover;
  margin-bottom: 24px;
}

/* Responsive styles */
@media (max-width: 768px) {
  p.information-text {
    width: fit-content;
    margin: 0;
  }

  .responsive-text {
    font-size: 14px;
  }
}

.textcenter {
  text-align: center;
  margin: 0 20%;
}

.responsive-text {
  font-size: 16px;
}
