

.rodeberg {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}


.landedrag {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}



.nore {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}



.dres {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}



.rafting {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}



.gar {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}



.hardanger {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}


.vinter {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}

.akt {
background-color: white;">
opacity: 1;
width: fixed;
margin: 80px;
position: relative;
margin: auto;
}


